.he-wrap
{
	position:relative;
	zoom:1;
	display:inline;
	position:relative;
}
.he-view
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	visibility:hidden;
}

.he-view-show
{
	visibility:visible;
}

.a0,.a1,.a2{
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .6s;
	-moz-animation-duration: .6s;
	-ms-animation-duration: .6s;
	-o-animation-duration: .6s;
	animation-duration: .6s;
}
.a1
{
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
.a2
{
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
@-webkit-keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity:1;
}
}
@-moz-keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity:1;
}
}
@-o-keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity:1;
}
}
@keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity:1;
}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -webkit-transform:translateX(-100%);
}
 100% {
 opacity:1;
 -webkit-transform:translateX(0%);
}
}
@-moz-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -moz-transform:translateX(-100%);
}
 100% {
 opacity:1;
 -moz-transform:translateX(0%);
}
}
@-o-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -o-transform:translateX(-100%);
}
 100% {
 opacity:1;
 -o-transform:translateX(0%);
}
}
@keyframes fadeInLeft {
 0% {
 opacity: 0;
 transform:translateX(-100%);
}
 100% {
 opacity:1;
 transform:translateX(0%);
}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
 0% {
 opacity: 0;
 -webkit-transform:translateX(100%);
}
 100% {
 opacity:1;
 -webkit-transform:translateX(0%);
}
}
@-moz-keyframes fadeInRight {
 0% {
 opacity: 0;
 -moz-transform:translateX(100%);
}
 100% {
 opacity:1;
 -moz-transform:translateX(0%);
}
}
@-o-keyframes fadeInRight {
 0% {
 opacity: 0;
 -o-transform:translateX(100%);
}
 100% {
 opacity:1;
 -o-transform:translateX(0%);
}
}
@keyframes fadeInRight {
 0% {
 opacity: 0;
 transform:translateX(100%);
}
 100% {
 opacity:1;
 transform:translateX(0%);
}
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform:translateY(100%);
}
 100% {
 opacity:1;
 -webkit-transform:translateY(0%);
}
}
@-moz-keyframes fadeInUp {
 0% {
 opacity: 0;
 -moz-transform:translateY(100%);
}
 100% {
 opacity:1;
 -moz-transform:translateY(0%);
}
}
@-o-keyframes fadeInUp {
 0% {
 opacity: 0;
 -o-transform:translateY(100%);
}
 100% {
 opacity:1;
 -o-transform:translateY(0%);
}
}
@keyframes fadeInUp {
 0% {
 opacity: 0;
 transform:translateY(100%);
}
 100% {
 opacity:1;
 transform:translateY(0%);
}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
 0% {
 opacity: 0;
 -webkit-transform:translateY(-100%);
}
 100% {
 opacity:1;
 -webkit-transform:translateY(0%);
}
}
@-moz-keyframes fadeInDown {
 0% {
 opacity: 0;
 -moz-transform:translateY(-100%);
}
 100% {
 opacity:1;
 -moz-transform:translateY(0%);
}
}
@-o-keyframes fadeInDown {
 0% {
 opacity: 0;
 -o-transform:translateY(-100%);
}
 100% {
 opacity:1;
 -o-transform:translateY(0%);
}
}
@keyframes fadeInDown {
 0% {
 opacity: 0;
 transform:translateY(-100%);
}
 100% {
 opacity:1;
 transform:translateY(0%);
}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}